/* CSS declarations go here */
a {
  cursor: pointer;
}

a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none;
}

.header {
  background-color: #384E6C;
  box-shadow: 0px 2px 5px 3px rgba(0,0,0,0.3);
}

.logo {
  width: 20%;
}

.logo a {
  color: #fff;
}

.logo .heading {
  float: left;
  margin: 22px 0 0 0;
}

.logo .icon {
  float: left;
  margin: 20px 0 15px 15px;
}

.header ul {
  list-style-type: none;
  padding-left: 0;
}

.header ul li a {
  color: #fff;
}

.header .navbar-right {
  margin: 26px 0 0 0;
  margin-right: 0;
}

.btn-custom {
  position: relative;
  margin: 14px 0 14px 28%;
  padding: 15px 55px 15px 20px;
  color: #FFF;
  background-color: #2DB5CF;
  border-color: #2DB5CF;
  border-radius: 0;
}

.btn-custom:hover,
.btn-custom:focus {
  color: #FFF;
}

.pencil-icon {
  position: absolute;
  top: 18%;
  right: 6%;
}

.list-of-posts .list-group-item {
  height: 55px;
}

.post-share {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px;
}

.post-share .input-group {
  width: 30%;
}



/*
************ MAIN PAGE
*/

.main-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #384E6C;
  text-align: center;
  color: #fff;
}

.main-page a {
  margin-top: 1.5em;
  color: #2DB5CF;
}

.main-page a:hover {
  color: #fff;
}

.icon-wrapper {
  margin-top: 100px;
}

.main-page .notes-icon {
  width: 50px;
  height: 50px;
}

.main-page h1 {
  font-weight: lighter;
  letter-spacing: 0.05em;
  color: #FFF;
  font-size: 1.75em;
  margin-top: 5px;
}

.main-page form {
  max-width: 30%;
  width: 100%;
  margin: 4em auto 0 auto;
}

.main-page input {
  margin-bottom: 3em;
  padding: 1.75em;
  border-radius: 0;
  background-color: transparent;
  border: 1px solid #2DB5CF;
  color: #fff;
}

.main-page ::-webkit-input-placeholder {
   color: #707680;
}

.main-page :-moz-placeholder { /* Firefox 18- */
   color: #707680;
}

.main-page ::-moz-placeholder {  /* Firefox 19+ */
   color: #707680;
}

.main-page :-ms-input-placeholder {
   color: #707680;
}

.main-page .form-group {
  position: relative;
}

.form-group .icon-wrapper {
  margin: 0;
  position: absolute;
  right: 1em;
  top: 0.7em;
}

.main-page form button {
  max-width: 100%;
  width: 100%;
  margin-bottom: 1.5em;
  padding: 1em;
  border-radius: 0;
  background-color: #2DB5CF;
  border: 1px solid #2DB5CF;
  color: #fff;
}

.main-page form button:hover {
  color: #fff;
  background-color: #1a8093;
  border: 1px solid #1a8093;
}




/*
******** HELPERS
*/

.bottom_1 {
  margin-bottom: 1em;
}
